/*Main styles */
body
{
    font-family: 'Satisfy', cursive;
    margin: 0;
    color: #cecece;
}

a
{
    text-decoration: none;
    color: #fff;
    outline: none;
}

a:hover
{
    color: #ddd;
}
/*Header*/
.nav
{
    margin: 0.5em 0 0 auto;
    padding-top: 1em;
    text-align: right;
}

.nav__item1
{
    position: relative;
    display: inline-block;
    width: 3em;
    height: 3em;
    margin: 0 0.1em;
    text-align: left;
    border-radius: 50%;
}

.nav__item1 > span
{
    display: none;
}

.nav__item1:hover:before {
	content: attr(data-info);
	font-size: 0.85em;
	font-weight: bold;
	position: absolute;
	top: 120%;
	right: 0;
	width: 600%;
	text-align: right;
	pointer-events: none;
	color: #beb9c9;
}

.nav__item1:hover {
	background: #3A2073;
}

.icon1 {
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-align: center;
	text-transform: none;
	color: #3A2073;
	speak: none;
    font-size: 1.3em;
}

.fa ,.far
{
    padding-top: 20px;
}

.logo1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    padding: 1em 0;
    text-align: center;
    color:#c3aef2;
    background: #3A2073;
    
}
.logo1:hover
{
   color:white;
}

.icon1:hover{
    color: white;
}

.nav1 .icon1:after {
	line-height: 2.4;
	top: 30%;
	width: 100%;
	height: 100%;
	text-indent: 0;
}
.panel,.panel1,.panel2
{
    display: none;
}
.heading1
{
    display: inline-block;
    font-size: 2em;
    padding-top: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}
.rotate.down {
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}
.card {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 400px;
	width: 300px;
    background-color: #c3aef2;
	transform: translate(-50%, -50%);
	transform-style: preserve-3d;
	perspective: 600px;
	transition: .75s;
}

.card:hover .card-front {
	transform: rotateX(-180deg);
}

.card:hover .card-back {
	transform: rotateX(0deg);
}

.card-front {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #c3aef2;
	backface-visibility: hidden;
	transform: rotateX(0deg);
	transition: .75s;
}

.card-back {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #c3aef2;
	backface-visibility: hidden;
	transform: rotateX(180deg);
	transition: .75s;
	color: #3A2073;
	text-align: center;
}

.lala
{
    padding-top:100px;
}


.card-back .name {
    font-family: 'Satisfy', cursive;
    font-weight: 500;
	font-size: 30px; 
}

.card-back .tagline {
    font-family: 'Satisfy', cursive;
	font-size: 20px;
}

.tagline:hover,.name:hover
{
    color: #655b7a;
}

.fix{
    position:fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.rel{
    position: relative;
    top:20vh;   
}
.st{
    height: 100%;
  width: 160px;
  position: fixed;
  
}
.sidebar{;
    
    height:100%;
}
